.shop-cart
	display flex
	background-color #141d27
	color hsla(0,0%,100%,.4)
	text-align center
	.left
		flex 1
		position relative
		.logo-wrapper
			position absolute
			bottom 0
			left 10px
			padding 10px
			background-color #2b333b
			border-radius 50%
			border 6px solid #141d27
			.icon-cart
				font-size 24px
		.price
			line-height 46px
			.desc
				font-size 12px
				margin-left 12px
				@media (max-width: 350px){
					display none
				}
	.right
		width 105px
		line-height 46px
		font-size 20px
		background-color #2b333b
		font-size 12px